# File .dockerignore

__pycache__/
*.pyc
*.pyo
*.pyd
.git/
.gitignore
.dockerignore
venv/
.venv/
env/
local_logs/
*.db
*.sqlite3

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# File OS
.DS_Store
Thumbs.db
