# File .dockerignore

__pycache__/
*.pyc
*.pyo
*.pyd
.git/
.gitignore
.dockerignore
venv/
.venv/
env/
local_logs/
*.db
*.sqlite3

# Abaikan file IDE/editor jika ada di root
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# File OS
.DS_Store
Thumbs.db

# Mungkin file besar lain yang tidak ingin Anda masukkan ke image
# data/raw_data_backup/